<h3>This is a place for my testing</h3>
<hr>
<div class="content col-md-9">
	<section>
		<h3>upload imgs/cropper</h1>
			<p>实现图片上传、预览，并基于corpper插件实现图片裁剪、旋转、翻转、压缩等功能</p>
			<button class="btn btn-look" ui-sref="test.cropper">进入试验 >></button>
	</section>
	<section>
		<h3>layout</h1>
			<p>css布局、样式方面的一些测试</p>
			<img src="../../imgs/bike.jpg" alt="">
			<button class="btn btn-look" ui-sref="test.layout">进入试验 >></button>
	</section>
	<section>
		<h3>algorithm</h1>
			<p>算法方面的一些测试</p>
			<button class="btn btn-look" ui-sref="test.algorithm">进入试验 >></button>
	</section>
</div>
<div class="slid col-md-3">
	侧边栏
</div>
<!-- <button class="btn btn-success">测试bootstrap</button> -->
